src/main/resources/pokemon.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://pokeapi.co/api/v2/pokemon"
           targetNamespace="https://pokeapi.co/api/v2/pokemon" elementFormDefault="qualified">

    <xs:element name="getAbilitiesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAbilitiesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="abilities" type="tns:responseAbilities"  maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:complexType name="responseAbilities">
        <xs:sequence>
            <xs:element name="ability" type="tns:genericComponent"/>
            <xs:element name="is_hidden" type="xs:boolean"/>
            <xs:element name="slot" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="genericComponent">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="url" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getBaseExperienceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getBaseExperienceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="base_experience" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getHeldItemsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getHeldItemsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="item" type="tns:genericComponent"/>
                <xs:element name="version_details" type="tns:versionDetails" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="versionDetails">
        <xs:sequence>
            <xs:element name="rate" type="xs:int"/>
            <xs:element name="version" type="tns:genericComponent"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getNameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getLocationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getLocationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="location_area_encounters" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
